* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* para que el padding y el border no se sumen al width */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:white;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

main {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
}

aside {
    width: 40%; 
    background-color: gray;
    padding: 1em;
}

.perfil {
    height: 200px;
    width: 100%; /* ocupa todo el ancho del main */
    background-color: #006666;
    text-align: center;
}

.img {
    width: 150px;
    height: 150px; 
    margin-top: 1em;
    border:double 10px #030e1a;
    border-radius: 50%;
}

.datosPersonales, .redes, .educacion {
    margin-top: 2em;
    padding: 2em;
    background-color: #c7c8c9;
    color: black; 

    .ListaDP{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em; 
    }
}

.meil, .cel{
    width: 18px;
    height: 18px;
 }
 
.redes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedorFlexbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 162, 162);
    overflow-x: auto;
    gap: 10px; /*espacio entre elementos*/
    flex-grow: 1;
}
.tarjeta{
    margin: 10px;
    flex-grow: 0; /* para que se expanda*/
    flex-shrink: 0; /* para que no se encoja */
    flex-basis: auto;
    flex: 0 0 100px; /*para que no es encoja ni se expanda*/
    background-color: #006666;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0,5); /*sombras */
}
.tarjetaTitulo{
    font-size: 1,5em;
    font-weight: bold;
}
.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
}