@import url("tipografias.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* para que el padding y el border no se sumen al width */
}

main {
    height: 100vh;
    width: 540px;
    margin: auto;
    min-height: 100%;
    background-color: #d4c8c8a1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {    
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    padding: 20px;
    cursor: pointer;
}

.items{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    cursor: pointer;
}

.carta .img{
    width: 150px;
    height: auto;
    border-radius: 1em;
}

.carta2 .img{
    width: 385px;
    height: auto;
    border-radius: 1em;
}

.carta2{
    display: flex;
    flex-direction:column;
    text-align: center;
    width: auto;
    background-color: #f9f9f9;
}

.carta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    background-color: #f9f9f9;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}